<form [formGroup]="userForm">
    <label for="username">username</label>
    <input id="username" type="text" formControlName="username"/>
    <label for="initialcash">Starting Cash</label>
    <input id="initialcash" type="number" step="0.01" formControlName="initialCash" />
    <ng-container *ngFor="let enum of payType | keyvalue">
        <label for="{{enum.key}}">{{enum.key}}</label>
        <input type="radio" id="{{enum.key}}" formControlName="paymentType" value="{{enum.value}}"/>
    </ng-container>
    <label for="pay">Pay</label>
    <input id="pay" type="number" step="0.01" formControlName="pay" />
    <label for="workstart">Start Working: </label>
    <input id="workstart" type="number" formControlName="workstart" max="24" />
    <label for="workend">End Working: </label>
    <input id="workend" type="number" formControlName="workend" max="24" />
    <div formArrayName="workdays">
        <div *ngFor="let day of workdays.controls; let i=index"  [formGroupName]="i">
            <label>{{keys[i]}}</label>
            <input type="checkbox" [formControlName]="keys[i]"/>
        </div>
    </div>
    <button (click)="submit()">Submit</button>
</form>
<p>
    {{ userForm.value | json}}
</p>
